.change__password--wrapper {
  width: 500px;
  margin: 0 auto;
}
.change__password--container {
  background-color: #3e3e3f;
  min-height: 400px;
}
.change__password--wrapper form {
  display: flex;
  flex-flow: column;
}
.change__password--title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 12px;
  padding-top: 12px;
  font-size: 24px;
  color: white;
}
.change__password--wrapper input {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 0.1px dashed white;
  margin-bottom: 8px;
  padding: 4px 8px;
}
.change__password--wrapper label {
  font-weight: bold;
  color: #ff9921;
}
.change__password--wrapper input[type="submit"] {
  border: 1px solid black;
  background-color: black;
  color: white;
  padding: 6px;
  margin-top: 16px;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 4px;
}
.success {
  color: green;
  font-size: 13px;
}
.error {
  color: red;
  font-size: 13px;
}
.ud__form--group {
  width: 100%;
  display: flex;
  flex-flow: column;
}
